@import "tailwindcss";
/* Enhanced styles for Greyhound Winners */
@theme {
  /* Brand Colors */
  --color-gw-purple: #540713;
  --color-gw-red: #86000D;
  
  /* Extended Color Palette */
  --color-primary-red: #86000D;
  --color-secondary-red: #540713;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-grey-neutral: #a8a4a4;
  --color-red-tint-30: #f2d6d9;
  --color-red-tint-60: #cc6e75;
}


